@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "Roboto";
}

a {
    text-decoration: none;
}

header, footer {
  display: flex;
  flex-direction: row;
  width: 1600px;
  background-color: #000000;
}

header {
  position: absolute;
  height: 80px;
}

nav span {
  position: relative;
  color: #FFFFFF;
  right: 0;
}

nav, footer nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
  height: 80px;
  margin-top: 0;
  padding-top: 30px;
}

nav ul li, footer nav{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

nav ul li a:hover{
    color: #f9804b;
}

main {
  width: 1600px;
}

nav,
section,
.footer_content {
  margin: 0 auto;
  width: 1160px;
}

.logo {
    margin-right: 63px;
  width: 82px;
  height: 52px;
  font-size: 10px;
}

.logo a {

}

.logo a img {
  position: relative;
  bottom: 43px;
  left: 5px;
}

h1 {
    font-size: 19px;
    font-weight: 100;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    border: 1px solid #FFFFFF;
}

.watch-online {
  background-image: url("../../assets/images/giant-panda.png");
  width: 1600px;
  height: 755px;
}

.watch-online button,
.choose-your-favorite button,
.feed-a-friend_wrapper button {
  position: relative;
  width: 290px;
  height: 54px;
  border-radius: 25px;
  background-color: #f9804b;
  color: #FFFFFF;
}

.watch-online button {
  left: 185px;
  bottom: 22px;
}

.watch-online button:hover,
.choose-your-favorite button:hover,
.feed-a-friend_wrapper button:hover {
  background-color: #FFFFFF;
  color: #f9804b;
}

.round-with-text {
  position: relative;
  top: 85px;
  left: 780px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: #f9804b;
}

.round-with-text h2 {
  width: 500.31px;
  height: 400px;
  margin: 0;
  padding: 80px;
  left: 880px;
  font-weight: bold;
  font-size: 100px;
  line-height: 75%;
  text-align: center;
  color: #ffffff;
}

.round-with-text span {
  color: #ffee2e;
}

.how-it-works-main-content {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
}

.how-it-works_text {
    margin-left: 89px;
}

.how-it-works_text h2{
    font-size: 48px;
}

.how-it-works_img-bamboo-cap {
    width: 609px;
    height: 403px;
}

.how-it-works_img-flowers {
    position: absolute;
    top: 805px;
    right: 0;
}

.choose-your-favorite {
  height: 1110px;
}

.choose-your-favorite_options {
  display: flex;
  justify-content: space-around;
  width: 1158px;
}

.choose-your-favorite ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 180px;
}

.choose-your-favorite_img-palm {
  position: absolute;
  left: 0;
}

.choose-your-favorite_img-strelitzia {
  position: absolute;
  right: 0;
}

.choose-your-favorite_card {
  width: 366px;
  height: 426px;
}

.feed-a-friend_wrapper {
  margin: 0 auto;
  width: 1160px;
  height: 835px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #FDE9E1;
  border-radius: 20px;
}

#feed-a-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 1004px;
  background-color: #FCCEBA;
}

.feed-a-friend_wrapper h2 {
  font-size: 48px;
  color: #FE9013;
}

.feed-a-friend_wrapper h3 {
  font-size: 36px;
}

.feed-a-friend_text {
  width: 1001px;
}

#leave-feedback {
  height: 919px;
}

.leave-feedback_testimonials-list {
  display: flex;
  flex-direction: row;
  width: 1160px;
  overflow-x: scroll;
}

.leave-feedback_img-leav {
  position: absolute;
  right: 0;
}

footer {
  height: 443px;
}

footer nav {
  width: 362px;
}

.footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_content_left-side {
  display: flex;
  flex-direction: column;
  width: 298px;
}

.footer_social-net-list {
  color: #FFFFFF;
}

.footer_content_right-side {
  display: flex;
  flex-direction: column;
  width: 367px;
}